// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

// additional HXLator stuff:
// -------------------------

div#xlsview{
  margin-top: 30px;
}

sup {
	font-size: 0.7em;
	margin-left: 0.1em;
}

/* extend the links in the table cells to the whole cell: */

a.link {
display:block;
width:100%;
height:100%; 
text-decoration:none;
}

a.link:hover {
background-color:#666;
color:#ccc;
}

h1, div.shortguide{
	margin-bottom: 30px;
}

// the green table row the user is working on during the mapping process
tr.highlight{
	color: #468847;
	background-color: #DFF0D8 !important;
}

// style for the selected rows before the translation step
tr.selected{
	color: @red;
	background-color: #FAA732;
}

// style for the selected cells during the mapping process
.table tbody tr:hover td.selected,
.table tbody tr td.selected {
	color: @red;
	background-color: #FAA732;
}

.navbar {
	background-color: white;
}

div.nav-hxlator{
	clear: both;
	margin: 15px 0;
}

div.footer{
	border-top: 2px solid lightgrey;
	margin-top: 30px;
	padding: 10px 0;
}

ul.hxl-pills li a{
	border: 1px solid lightgrey;
}

div.hxl-hidden{
	display: none;
}

li.historynav > a {
	font-weight: bold;
	display: none;
}

li a#back{
	margin-left: 30px;
}

li.logininfo{
	margin-left: 50px
}

div#hxlPreview{
	display: none;
    width: 90%;
    margin-left: -45%;
}

a#back, a#forward{
	width: 80px !important;
}

#loading, #modal-loading{
	display: none;
}

#modal-loading{
	width: 25px;
	height: 25px;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: transparent;
}

// disable browser text highlighting on the selected row in the table:
// via http://www.kirupa.com/html5/changing_selection_color_using_css.htm
.highlight > .hxlatorcell::selection, .selected > .hxlatorcell::selection {
	background-color: transparent;
}

.highlight > .hxlatorcell::-moz-selection, .selected > .hxlatorcell::-moz-selection {
	background-color: transparent;
}

.highlight > .hxlatorcell::-webkit-selection, .selected > .hxlatorcell::-webkit-selection {
	background-color: transparent;
}

#tablebox{
	height: 400px;
	overflow: scroll;

}

input.value-input{
	margin-top: 9px;
}

// marking mapped table cells & properties:
td.mapped, a.mapped, a.mapped disabled, a.mapped:hover, a.mapped disabled:hover{
	background-image: url('../img/marker.png') !important;
	background-position: bottom right;
	background-repeat: no-repeat;
}

// make the modals a little wider:
.modal{
	width: 800px !important;
	margin: -250px 0 0 -400px !important;
}

span.missing-prop{
	font-size: 1.3em;
	line-height: 27px;
}

// icons for the preview table headers:

th.sorting, th.sorting_asc, th.sorting_desc{
	background-position: center right;
  	background-repeat: no-repeat;
}

th.sorting{ background-image: url("../img/sort_both.png"); } 

th.sorting_asc{ background-image: url("../img/sort_asc.png"); }

th.sorting_desc{ background-image: url("../img/sort_desc.png"); }

#togglep{
	margin: -10px 0 0 0;
}


// fixed table header; via https://gist.github.com/3763015

.fixed-table .header-fixed {
  position: absolute;
  top: 0px;
  z-index: @zindexTableHeader; 
  border-bottom: 2px solid #d5d5d5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.fixed-table{
  display:block;
  position:relative;
}
.fixed-table th{
  padding: 8px;
  line-height: 18px;
  text-align: left;
}
.fixed-table .table-content{
  display:block;
  position: relative;
  height: 500px; /*FIX THE HEIGHT YOU NEED*/
  overflow-y: auto;
}
.fixed-table .header-copy{
  position:absolute;
  top:0;
  left:1px;
}
.fixed-table .header-copy th{
  background-color:#fff;
  border-right: 1px solid #ccc;
}
















/* Y A S N I    C S S     E X T E N S I O N */
/* used here only for styling the upload form field via bootstrap-fileupload.js */


/*!
 * Jasny Bootstrap Extensions j1
 *
 * Copyright 2012 Jasny BV
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Extended with pride by @ArnoldDaniels of jasny.net
 */

.uneditable-input,
.uneditable-textarea {
  display: inline-block;
  padding: 4px 3px 4px 5px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  cursor: not-allowed;
  background-color: #ffffff;
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  height: 18px;
  overflow: hidden;
  white-space: pre;
}

.uneditable-input[class*="span"],
.uneditable-textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .uneditable-textarea[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append .uneditable-input,
.input-prepend .uneditable-input {
  vertical-align: top;
}

.input-append .uneditable-input[class*="span"],
.input-prepend .uneditable-input[class*="span"] {
  display: inline-block;
}

.uneditable-form input[disabled],
.uneditable-form textarea[disabled],
.uneditable-form select[disabled] {
  cursor: auto;
}

.uneditable-form .uneditable-input,
.uneditable-form .uneditable-textarea {
  cursor: text;
}

.uneditable-form .form-actions {
  background-color: transparent;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  cursor: pointer;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.fileupload {
  margin-bottom: 9px;
}

.fileupload .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: text;
}

.fileupload .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileupload .thumbnail > img {
  display: inline-block;
  max-height: 100%;
  vertical-align: middle;
}

.fileupload .btn {
  vertical-align: middle;
}

.fileupload-exists .fileupload-new,
.fileupload-new .fileupload-exists {
  display: none;
}

.fileupload-inline .fileupload-controls {
  display: inline;
}

.fileupload-new .input-append .btn-file {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}

div.metadata-panel{
  text-align: left;
}

div.metadata-panel, div.submit-panel{
  float: left;
  width: 50%;
}